body {
    margin: 0;
    overflow: hidden;
}


.carousel-container {
    height: 100vh;
}


@media (min-width: 992px) {
    .carousel-container {
        margin-top: -116px;
    }
}

.masthead-heading {
    height: 100vh !important;
}

.carousel-item img {
    object-position: center right;
}

.section-padding {
    padding: 80px 0;
    min-height: 100vh;
}

.scrollable {
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.scrollable::-webkit-scrollbar {
    display: none;
}
header {
    overflow: hidden;
}

@media (max-width: 1199.98px) {

    .carousel-item img,
    .masthead .carousel {
        object-position: center right;
    }
}


.main video {
    z-index: -1;
    position: fixed;
}

header .masthead {
    position: relative;
}

.map-section__block {
    position: relative;
    margin-top: 50px;
}


.page-section {
    padding: 5rem 0;
    margin: 3rem 0;
}


[class*=ymaps][class*=-ground-pane] {
    /* filter: grayscale(1);
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1); */
    filter: invert(1) hue-rotate(-180deg);
}

/* .carousel-item video, .carousel-item img {
    object-fit: fill;
    height: auto;
} */

section#actions {
    height: 90vh;
    background-image: url('../img/actions-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, .6);
}

section#contact {
    min-height: 75vh;
    background-image: url('../img/bg_contact.jpeg');
}